/*общие стили*/
*{
    margin:0px;
    padding: 0;
}
button{
    text-align: center;
    border: none;
    font-size: 22px;
    font-family: 'MontserratRegular';
}
button:hover{
    cursor: pointer;
}
/*container*/
.container{
    margin: 0px auto;
    max-width: 1200px;
}
/*header*/
.header{
    background: url('./img//header_bg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
   
   
}
.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}

.logo{
    font-family:'QuiteChocolatey';
    color: #d03958;
    font-size: 88px;
}
.menu__items{
    display: flex;

}
.menu__items>li{
    list-style: none;
    margin-left: 34.50px;
    text-transform: uppercase;
    font-family:'MontserratRegular';
    padding: 9px 11px;
}
.menu__items>li>a{
    text-decoration: none;
    color: #101010;
}
.menu__item_active{
    color: #fff;
    background: #d03958;
    border-radius: 5%;
}

.request__wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 162px;
    padding-bottom: 50px;

}
.reguest__title{
    font-family: 'MontserratBold';
    font-size: 50px;
    text-transform: uppercase;
}
.reguest__title::first-line{
    color: #d03958
}

.request__description{
    font-size: 20px;
    font-family:'PTSerifRegular';
}

.request__form{
    position: relative;
    color:#fff;
    background:#d03958 ;
    top: 100px;

}
.form__wrapper{
    padding: 28px 18px;
}
.form__text{
    text-transform: uppercase;
    white-space:nowrap;
    font-family: 'MontserratRegular';
    text-align: center;
    margin-bottom: 38px;

}
.form__input{
    margin-top: 18px;

}
.form__input>input{
    background-color:#fff ;
    color: #b5b5b5;
    font-family: 'PTSerifRegular';
    font-size: 20px;
    padding-top: 22px;
    padding-bottom: 19px;
    padding-left: 18px;
    border: none;
    border-radius: 10px;
    width: 343px;
}
.form__checkbox-wrap{
    display: flex;
    margin-top: 22px;
}
.form__checkbox-text{
    margin-left: 17px;
}
.form__checkbox>input{
    border: none;
    border-radius: 10%;
}
.form__button{
    display: flex;
    justify-content: center;
}
.form__button>button{
    text-transform: uppercase;
    color: #fff; 
    padding: 13px 127px;
    border-radius: 10px;
    margin-top: 18px;
    background-color:#161616 ;
    
    
}
.form__button>button:hover{
    cursor: pointer;
}
.services__wrapper{
    margin-top: 30px;
}
.services__title{
    text-transform: uppercase;
    font-family: 'CoutureBold';
}
.services__title>h1>span{
    color:#d03958;
    
}
.services__items{
    display: flex;
    justify-content: space-between;
    
    margin-top: 100px;
}
.services__description{
    font-family: 'PTSerifRegular';
    font-size: 20px;
    text-align: center;
    margin-top: 42px;
    color:#161616
}
.story{
    background-color:#d03958 ;
}
.story__wrapper{
    margin-top: 61px;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.story__text{
    color: #fff;
    font-family:'PTSerifRegular';
    font-size: 20px;
}
.stort__button>button{
    text-transform: uppercase;
    color: #161616;
    font-family: 'MontserratRegular';
    font-size: 22px;
    background-color: #e3d5b8;
    padding: 21px 60px;
    color: #161616;
    border: none;
    border-radius: 10px;
}

.prising{
    background: #e3d5b8;
}

.prising__title{
    text-transform: uppercase;
    font-family: 'MontserratBold';
    text-align: center;
    padding-top: 61px;
    color: #1f1f1f;
}
.prising__wrapper{
    margin-top: 63px;
    display: flex;
   
   
   
}

.proposal__wrapper{
    margin-left: 18px;
    padding-top: 32px;
    padding-left: 83px;
    padding-right: 83px;
    text-align: center;
    background: #fff;
    color: #161616;
    font-family: 'PTSerifRegular';
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;

}

.proposal__popular{
    position: relative;

}
.popular__arrow{
    position: absolute;
    top: 1px;
    left: 10px;
    border-top: 100px solid #b4a993;
    border-right: 100px solid transparent;

}
.popular__text{
    position: absolute;
    top: 10px;
    left: 20px;
    transform: rotate(-45deg);
    padding: 10px 10px;
 
}
.proposal__cost{
    text-transform: uppercase;
    color: #d03958;
    font-family: 'MontserratBold';
    font-size: 60px;
    margin-top:30px;
}
.proposal__discription{
    margin-top: 30px;
    line-height: 30px;
}


.proposal__buy> button{
    width: 194px;
    border-radius: 5px;
    background: #e3d5b8;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding: 14px 0px;
    border: none;
    margin-top:40px;
    margin-bottom: 15px;

}


.proposal__buy_popular>button{
    color: #fff;
    background:#d03958 ;
}

.news__wrapper{
    display: flex;
    justify-content: space-between;
   margin-top: 141px;;
   margin-bottom: 111px;
}

.testimonial__title{
    font-family: 'MontserratBold';
    font-size: 50px;
    text-transform: uppercase;
}

.testimonial__item{
    display: flex;
    
    
    margin-top: 62px;
    font-size: 'MontserratRegular';
    font-style: 20px;
}
.testimonial__description{
    font-family: 'PTSerifRegular';
   
    font-size: 20px;
}
.testimonial__signature{
    margin-top: 35px;
    color: #d03958;
}
.testimonial__text{
 padding-top: 17px;
 padding-bottom: 17px;
 padding-right: 100px;
 padding-left: 26px;
 border-radius: 10px;
}

.testimonial__text_active{
    background: #e3d5b8;
}
.testimonial__ikom{
    position: relative;
}
.testimonial__ikom>img{
    position: absolute;
    left: -70px
    
}
.gallery__title{
    color:#d03958 ;
    text-transform: uppercase;
    font-family: 'MontserratBold';
    font-size: 50px;
    margin-bottom: 68px;

}
.gallery_line{
    display: flex;   
}
.gallery_line-bottom{
    margin-top: 25px;
}
.gallery__link{
    display: flex;
    justify-content: center;
}
.gallery__link> a{
    color:#d03958;
    text-transform: uppercase;
    text-decoration:underline #d03958;
    margin-top: 41px;
 }
 .footer{
     background:#161616;
     color: #fff;
 }
 .footer__wrapper{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-top: 66px;
     padding-bottom: 80px;
 }
 .footer__text{
     font-family: 'PTSerifRegular';
     font-size: 20px;
 }
 .footer__text>span{
     color:#d03958
 }

 @media (max-width: 1000px) {
    .container{
        margin: 0px auto;
        max-width: 1100px;
    }
    .menu__items>li {
        margin-left: 15px;
        
    }
    .header__wrapper{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    
        .reguest__title{
            font-size: 30px;
        }
        .request__wrapper{
            justify-content: space-around;
            padding-left: 20px;
        }
        
        .request__form{
           right: 20px;
        }
        .reguest__title{
            font-size: 20px;
        }
        .request__description{
            font-size: 15px;
        }
        .services__items{
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: center;
        }
        .services__wrapper{
            padding-left: 20px;

        }
        .prising__wrapper{
            flex-direction: column;
            align-items: center;
           
           
            
        }
        .prising__wrapper>div{
           margin-top: 20px;

        }
        .news__wrapper{
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
             
        }
        .gallery__title{
            margin-top: 20px;
        }


      .story__wrapper{
          justify-content: space-around;
      }
      
      
      
    }
    @media (max-width: 800px) {
        .request__wrapper{
            flex-wrap: wrap;
        }
        .services__items{
            flex-direction: column;
            align-items: center;
            
        }
        .services__items>div{
            margin-top: 20px;
        }
       .services__title{
          text-align: center;
          margin-top: 100px;
       }
       .story__wrapper{
           flex-wrap: wrap;
       }
       .testimonial__ikom>img{
           position: static;
       }
       
      
       
       
      
    }

    @media (max-width: 500px) {
       .menu__items{
           flex-direction: column;
           align-items: center;
       }
        .services__items>div{
            margin-top: 20px;
        }
       .services__title{
           margin-top: 70px;
       }
       .story__wrapper{
           flex-wrap: wrap;
       }
       
      
    }

 